.card-1 {
    background-color:#ADFF2F;
    border-radius: 20px;
    /* border: 1px solid black; */
    
    
}

.card-2 {
    background-color:#FFEBCD;
    
    border-radius: 20px;
    /* border: 1px solid black; */
   
}

.card-3 {
    background-color:#AFEEEE;
    border-radius: 20px;
    /* border: 1px solid black; */
    
}